.contact-bg{
    background-image: linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.80)),url(/src/assets/contact-bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}