.footer-bg{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/src/assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}